body {
  background-color: #f5d5d5;
  font-family: "Nunito", sans-serif;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}
#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#heading-group {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 4rem;
}

#heading-group span {
  color: #ea1c2c;
}
.blurb h2 {
  text-transform: uppercase;
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2rem;
}
.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1rem;
  line-height: 2;
}
.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.navbar.scrolled {
  background: #dec0de;
  transition: background 800ms;
}
@media (max-width: 1200px) {
  #heading-group {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3rem;
  }
}
